@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron row">
    <h1> BeautySalon </h1><br>

    <div class="col-md-8">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcK8vrZx1vnB3z894xhWAvO3ma3wmK4cmf4zCTA7pKl5XTml0k" width="394" height="128" />
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2> Hairdresser services </h2><br>
        A wide range of hairdressing services will not leave indifferent even the most demanding client.<br>
        @Html.ActionLink("More info", "HairdresserService", "HairdresserServices")
    </div>

    <div class="col-md-4">
        <h2> Manicure </h2> <br>
        Professional masters of our salon will create your unique modern image ....<br>
        @Html.ActionLink("More info", "Manicure", "Manicure")
    </div>

    <div class="col-md-4">
        <h2> Cosmetic services </h2><br>
        Feel the beauty of professional salon programs for face and body skin care.<br>
        @Html.ActionLink("More info", "CosmeticService", "CosmeticServices")
    </div>

</div>


