@model Models.CosmeticServiceModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create cosmeticserservice</h2>

 <form action="@Url.Action("Create", "CosmeticServices")" enctype="multipart/form-data" method="POST" class="form-horizontal">

     @Html.Partial("CosmeticDetails")

 </form>
 
