@model Models.CosmeticServiceModel

@{
    ViewData["Title"] = "Update";
}

<h2>Update cosmeticserservice</h2>

<form action="@Url.Action("Update", "CosmeticServices")" enctype="multipart/form-data" method="POST" class="form-horizontal">

    @Html.Partial("CosmeticDetails");

</form>


