@model Models.ManicureModel
@{

    ViewData["Title"] = "Create";
}

<h2>Create cosmeticserservice</h2>

<form action="@Url.Action("Create", "Manicure")" enctype="multipart/form-data" method="POST" class="form-horizontal">

    @Html.Partial("ManicureDetails");

</form>


