@model Models.HairdresserServiceModel
@{

    ViewData["Title"] = "Create";
}

<h2>Create hairdresserservice</h2>

<form action="@Url.Action("Create", "HairdresserServices")" enctype="multipart/form-data" method="POST" class="form-horizontal">

    @Html.Partial("HairdresserDetails")

</form>


